*,
*::after,
*::before {
  box-sizing: border-box;
  flex-direction: column;
}

@page {
  size: A4;
  margin: 10mm 10mm;
}

body {
  margin: 0;
  width: 210mm;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;
}
#root div {
  display: flex;
}

.eventContainer {
  display: block;
  padding: 8mm;
  border-bottom: 1mm solid darkred;
}

.allRoundsContainer {
  display: grid !important;
  justify-content: flex-start;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 5mm;
}

.roundContainer {
  flex: 1;
}
.roundTitle {
  font-weight: bold;
  margin-bottom: 2mm;
}

.allExerciceContainer {
  padding: 0;
  border-collapse: collapse;
}
.allExerciceContainer td {
  padding: 1mm 0;
}

.exerciceTitle {
  text-align: left;
  width: 38mm;
}
.exerciceSquareContainer {
  flex-direction: row;
  gap: 1mm;
}
.exerciceSquare {
  border: 0.5mm solid black;
  min-width: 5mm;
  padding: 0 1mm;
  height: 5mm;
  justify-content: center;
  align-items: center;
}
.exerciceSquareNumber {
  font-size: 8.5pt;
  text-align: center;
}
.exerciceSquareMaxWeight {
  width: 14mm;
  height: 10mm;
}

.headerContainer {
  gap: 5mm;
  margin-bottom: 10mm;
}

.headerTitleContainer {
  flex-direction: row;
  gap: 5mm;
  flex: 1;
  font-weight: bold;
  font-size: 1.2em;
}
.headerTitleContainer div {
  position: relative;
}
.headerTitleContainer div:not(:last-child)::after {
  content: "/";
  position: absolute;
  right: -4mm;
}
.subHeader {
  flex-direction: row;
  gap: 5mm;
}
.subHeader div {
  flex: 1;
}

.footerContainer {
  flex-direction: row;
  margin-top: 10mm;
  gap: 5mm;
}
.footerContainer div {
  flex: 1;
}

.underlined {
  padding-bottom: 2mm;
  border-bottom: 0.5mm solid black;
}

@media print {
  body {
    overflow: visible;
  }

  .eventContainer {
    page-break-inside: avoid;
    padding: 0;
    border: none;
  }

  .eventContainer:not(:first-child) {
	margin-top: 10mm;
  }
}
